body {
    margin: 0;
    font-family: san-serif;
    display: flex;
    justify-content: center;
}

td{
    text-align: center;
    padding: 5px;
}

table{
    width: 100%;
}

form{
    margin-top: 20px;
    display: flex;
}

#content {
    width: 70%;
}

table, th, td {
    border: 1px solid black ;
    border-collapse: collapse;
  }